__pycache__/
*.py[cod]
*$py.class

.env
*.env
server/.env

node_modules/
server/node_modules/

mp_env/
.venv/
venv/
env/

*.log
cloudflared.*.log

.DS_Store
Thumbs.db

debug_received.jpg
.ultralytics/
